<!DOCTYPE html>

<html>

<head>

<!--    Scripts to bring in jQuery and styles-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/index.css' %}">

<!--    end scripts-->

    <title>HyperQube Coding Challenge</title>

</head>

<body>


    <header>


    </header>

    <section class="memoryDiv">

        <div id="memoryAvailable"></div>
        <div id="memoryUsed"></div>

    </section>

<script type="text/javascript">

    memAvail = document.querySelector("#memoryAvailable");
    memUsed = document.querySelector("#memoryUsed");


    (async function pullStats(){
        setTimeout(async()=>{
            await $.ajax({url:'http://localhost:8000/api/?format=json',
                success:function(data){
                    //update dashboard
                    console.log(data)
                    console.log(data.CPUAvailablePercent)

                    memAvail.textContent = "Memory Available: " + data.availableMemoryPercent+"%";
                    memUsed.textContent = "Memory Used: " + data.usedMemoryPercent+"%";
                        //setup next poll recursively
                    pullStats();
                },
                dataType:"json"});
        },1000);
    })();





</script>
</body>
</html>

