<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
</head>
<body>


<h1>test 3</h1>

<script type="text/javascript">


    (async function pullStats(){
        setTimeout(async()=>{
            await $.ajax({url:'http://localhost:8000/api/?format=json',
                success:function(data){
                    //update dashboard
                    console.log(data)
                    console.log(data.CPUAvailablePercent)
                    //setup next poll recursively
                    pullStats();
                },
                dataType:"json"});
        },1000);
    })();
</script>
</body>
</html>

